@import 'components/normalize';
@import 'components/base';
@import 'components/typography';


// BROAD STYLES
img {
	width: 100%;
}

body {
	color: #000;
	font-family: $bodyFont;
}

// HEADER STYLES START
header {
	background: linear-gradient($headerColor1, $headerColor2);
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.wrapper {
	max-width: 1080px;
    width: 90%;
    margin: 0 auto;
}

.section-introduction {
	height: 50%;
}

.header-container {
	justify-content: space-between;
	display: flex;
	flex-direction: column;
	height: 100%;
	align-items: center;

	p {
		color: white;
		font-size: 25px;

		@media screen and (max-width: 410px) {
			font-size: 20px;
		}
	}

}

.header-title {
	align-self: flex-start;
	margin-top: 150px;
}

a.pointer-emoji {
	font-size: 60px;
	text-decoration: none;
	display: flex;
	justify-content: flex-end;
	align-items: center;

	@media screen and (max-width: 410px) {
		font-size: 50px;
		margin-top: 30px;
	}
}

// a.pointer-emoji:focus {
// 	border: 1px dotted black;
// }

h1 {
	font-size: 60px;
	font-weight: 700;
	margin: 0;
	color: white;
	text-transform: uppercase;
	border-bottom: 1px solid rgb(239, 196, 244);
}


ul {
	margin: 0;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

li {
	list-style: none;
	margin: 0;
	padding: 10px;
}

// MAIN STYLES START

// about me section 
.about-me-container {
	display: flex;
	margin-top: 80px;
}

// centering about me details

.about-me-details-container {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;

	p {
		margin-bottom: 0;
		margin-top: 0;
		line-height: 30px;
	}
}

@media screen and (max-width: 888px) {
	.about-paragraph {
		font-size: 15px;
	}
}
@media screen and (max-width: 900px) {
	.about-me-container {
		flex-direction: column;
	}
	.about-me-details-container {
		margin: 0 auto;
	}
}

@media screen and (max-width: 700px) {
	.about-me-details-container {
		min-width: 100%;
	}
}





// PROFILE PHOTO
// object-fit to get image round
.image-circle {
	border-radius: 50%;
	height: 300px;
	width: 300px;
	object-fit: cover;
	display: block;
	margin: 0 auto;	
	margin-bottom: 50px;

	@media screen and (max-width: 600px) {
		height: 150px;
		width: 150px;
	}
}


.about-me-image-circle {
	width: 50%;
	align-self: center;
	padding-bottom: 0;

	@media screen and (max-width: 900px) {
		width: 100%;
	}
}


.about-me-icon {
	border-bottom: 1px solid rgb(241, 187, 241);
	padding: 10px;
	width: 100%;
	display: flex;
}

.gradient {
	background: -webkit-gradient(linear, left top, left bottom, from($headerColor1), to($headerColor2));
 	-webkit-background-clip: text;
 	-webkit-text-fill-color: transparent;
 	display: initial;
}

// about me svg's
svg {
	width: 60px;
	height: 60px;
	fill: #000;
}

// center about me svg's 
h2 {
	text-align: center;
	font-weight: 400;
	margin-bottom: 0;
	margin-top: 80px;
}

//EXPERIENCE AND SKILLS SECTION 
.icon-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-basis: 200px;
	flex-wrap: wrap;
	align-content: center;
	margin-top: 70px;
	margin-bottom: 80px;
}

.icon {
	font-size: 70px;
	margin: 20px;
	p {
		font-size: 15px;
		text-align: center;
	}
}


// PORTFOLIO SECTION
.view-work-button-container {
	display: flex;
	justify-content: center;
	margin-bottom: 80px;
	a {
	   text-decoration: none;
	   color: darkslategray;
	   padding: 16px;
	   text-align: center;
	   margin: 0 auto;
	   display: block;
	   border-radius: 3px;
	   height: 50px;
	   width: 200px;
	   border: 1px solid #606060;
	   background: none;
	   font-size: 18px;
	}
}

.projects-link:hover {
	background: linear-gradient($headerColor1, $headerColor2);
	color: white;
	border: none;
}

@media screen and (max-width: 600px) {
	.project-link {
		padding: 20px;
	}
}


.app-description {
	font-size: 20px;
	width: 50%;
	margin: 0 auto;
	margin-bottom: 80px;
	line-height: 30px;
	text-align: center;
	@media screen and (max-width: 600px) {
		font-size: 15px;
		min-width: 100%;
	}
}


.projects-section-header {
	margin-bottom: 60px;
}

// CONTACT
footer {
	background: linear-gradient($headerColor1, $headerColor2);
	padding-top: 50px;
	padding-bottom: 50px;
}

.contact-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.active-link {
	text-decoration: none;
	color: #000;
	padding: 10px;
}

.active-link:hover {
	text-decoration: underline;
}

h2.contact-envelope-emoji {
	font-size: 40px;
	text-align: center;
}

.contact-envelope-emoji {
	margin-top: 0;
}

.fa-twitter-square {
	padding: 10px;
}

.contact-email {
	text-align: center;
}

.email {
	text-decoration: none;
	border: none;
}

.contact-button {
	width: 300px;
	background: white;
}

.get-in-touch{
	text-align: center;
}

a.email {
	color: #000; 
	font-size: 18px;
}

a.email:hover {
	text-decoration: underline;
}

.active-link {
	text-align: center;
}

.footer-contact-icons {
	margin: 0 auto;
	padding: 10px;
}

