@import 'components/normalize';
@import 'components/base';
@import 'components/typography';


// broad styles
img {
	width: 100%;
}

body {
	// background: linear-gradient(#acb6e5, #86fde8, #acb6e5);
	// background: linear-gradient(#89fffd, #ef32d9, #89fffd);
	color: black;
	// color: #000;
	font-family: $bodyFont;
}

// HEADER STYLES START
header {
	// background: palegreen;
	background: linear-gradient($headerColor1, $headerColor2);
	// background: linear-gradient(rgb(246, 212, 246), rgb(192, 239, 233));
	// background-image: linear-gradient(to top, deepskyblue 100%, violet 0%);
}

.wrapper {
	max-width: 1080px;
    width: 90%;
    margin: 0 auto;
}

.section-introduction {
	// height: 50vh;
}

.header-container {
	display: flex;
	height: 100%;
	align-items: center;
	margin-top: 150px;
	p {
		margin-bottom: 150px;
	}
	// height: 50vh;
}

.header-title {
	// height: 500px;
	// padding: 10px;

	// display: flex;
	// align-items: center;
	// justify-content: center;
	// // background:rgba(255,255,255, .6);
}

h1 {
	font-size: 60px;
	font-weight: 700;
	margin: 0;
	color: white;
	text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
	// color: darkslategray;
	text-transform: uppercase;
}

ul {
	margin: 0;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

li {
	list-style: none;
	margin: 0;
	padding: 10px;
}

// MAIN STYLES START

// about me section 
.section-about-me {
	// height: 50vh;
}

.about-me-container {
	display: flex;
	margin-top: 80px;
	margin-bottom: 150px; 

}

// centering about me details

.about-me-details-container {
	// display: flex;
	width: 50%;
	// flex-direction: row;
	p {
		margin-bottom: 0;
		margin-top: 0;
	}
}

@media screen and (max-width: 900px) {
	.about-me-container {
		flex-direction: column;
	}
	.about-me-details-container {
		margin: 0 auto;
	}
}

@media screen and (max-width: 900px) {
	.about-me-image-circle {
		width: 100%;
	}
}


// my picture
// object-fit to get image round
.image-circle {
	border-radius: 50%;
	// border: .5px solid red;
	height: 300px;
	width: 300px;
	object-fit: cover;
	display: block;
	margin: 0 auto;	
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 600px) {
	.image-circle {
		height: 150px;
		width: 150px;
	}
}

.about-me-image-circle {
	width: 50%;
	align-self: center;
	padding-bottom: 40px;
}

.about-me-icon {
	border-bottom: 1px solid rgb(241, 187, 241);
	// border-bottom: 1px solid $headerGradient;
	padding: 10px;
	width: 100%;
	display: flex;
	// height: 30px;
}

.gradient {
	background: -webkit-gradient(linear, left top, left bottom, from($headerColor1), to($headerColor2));
 	-webkit-background-clip: text;
 	-webkit-text-fill-color: transparent;
 	display: initial;
}

// about me svg's
svg {
	width: 60px;
	height: 60px;
	fill: black;
}

// center about me svg's 

.section-header {
	text-align: center;
}

// experience and skills section 
.icon-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-basis: 200px;
	flex-wrap: wrap;
	align-content: center;
	margin-top: 70px;
	margin-bottom: 150px;
}

.icon {
	font-size: 70px;
	margin: 20px;
	p {
		font-size: 15px;
		text-align: center;
	}
}

// portfolio section

a {
	text-decoration: none;
	color: darkslategray;
	padding: 20px;
}

button::hover {
	background: darkslategray;
	color: white;
}


.view-work-button-container {
	display: flex;
	justify-content: center;
}

.view-button {
	text-align: center;
	margin: 0 auto;
	display: block;
	border-radius: 10px;
	height: 30px;
	width: 100px;
	border: 1px solid black;
	background: none;
}




