@import 'components/normalize';
@import 'components/base';
@import 'components/typography';


// broad styles
img {
	width: 100%;
}

body {
	// background: linear-gradient(#acb6e5, #86fde8, #acb6e5);
	// background: linear-gradient(#89fffd, #ef32d9, #89fffd);
	color: #606060;
	// color: #000;
	font-family: $bodyFont;
}

// HEADER STYLES START
header {
	// background: palegreen;
	background: linear-gradient($headerColor1, $headerColor2);
	// background: black;
	// background: linear-gradient(rgb(246, 212, 246), rgb(192, 239, 233));
	// background-image: linear-gradient(to top, deepskyblue 100%, violet 0%);
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.wrapper {
	max-width: 1080px;
    width: 90%;
    margin: 0 auto;
}

.section-introduction {
	height: 50%;
}

.header-container {
	justify-content: space-between;
	display: flex;
	flex-direction: column;
	height: 100%;
	align-items: center;
	// margin-top: 150px;
	p {
		// margin-bottom: 100px;
		color: white;
		font-size: 25px;
	}
}

.header-title {
	// emoji 
	align-self: flex-start;
}

a.pointer-emoji {
	font-size: 60px;
	text-decoration: none;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

h1 {
	font-size: 60px;
	font-weight: 700;
	margin: 0;
	color: white;
	// text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
	// color: darkslategray;
	text-transform: uppercase;
	border-bottom: 1px solid rgb(239, 196, 244);
}

ul {
	margin: 0;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

li {
	list-style: none;
	margin: 0;
	padding: 10px;
}

// MAIN STYLES START

// about me section 
.section-about-me {
	// height: 50vh;
}

.about-me-container {
	display: flex;
	margin-top: 80px;
	margin-bottom: 150px; 

}

// centering about me details

.about-me-details-container {
	// display: flex;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	// text-align: center;

	// flex-direction: row;
	p {
		margin-bottom: 0;
		margin-top: 0;
		line-height: 30px;
	}
}

@media screen and (max-width: 888px) {
	.about-paragraph {
		font-size: 15px;
	}
}


@media screen and (max-width: 900px) {
	.about-me-container {
		flex-direction: column;
	}
	.about-me-details-container {
		margin: 0 auto;
	}
}

@media screen and (max-width: 900px) {
	.about-me-image-circle {
		width: 100%;
	}
}


// my picture
// object-fit to get image round
.image-circle {
	border-radius: 50%;
	// border: .5px solid red;
	height: 300px;
	width: 300px;
	object-fit: cover;
	display: block;
	margin: 0 auto;	
	margin-bottom: 50px;
}

@media screen and (max-width: 600px) {
	.image-circle {
		height: 150px;
		width: 150px;
	}
}

.about-me-image-circle {
	width: 50%;
	align-self: center;
	padding-bottom: 0;
}

.about-me-icon {
	border-bottom: 1px solid rgb(241, 187, 241);
	// border-bottom: 1px solid $headerGradient;
	padding: 10px;
	width: 100%;
	display: flex;
	// width: 100%;
	// height: 30px;
}

.gradient {
	background: -webkit-gradient(linear, left top, left bottom, from($headerColor1), to($headerColor2));
 	-webkit-background-clip: text;
 	-webkit-text-fill-color: transparent;
 	display: initial;
}

// about me svg's
svg {
	width: 60px;
	height: 60px;
	fill: #606060;
}

// center about me svg's 

h2 {
	text-align: center;
	font-weight: 400;
	margin-bottom: 0;
	margin-top: 80px;
}

// experience and skills section 
.icon-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-basis: 200px;
	flex-wrap: wrap;
	align-content: center;
	margin-top: 70px;
	margin-bottom: 80px;
}

.icon {
	font-size: 70px;
	margin: 20px;
	p {
		font-size: 15px;
		text-align: center;
	}
}

// portfolio section

.view-work-button-container {
	display: flex;
	justify-content: center;
	margin-bottom: 80px;
	// width: 500px;
	a {
	   text-decoration: none;
	   color: darkslategray;
	   padding: 16px;
	   text-align: center;
	   margin: 0 auto;
	   display: block;
	   border-radius: 3px;
	   height: 50px;
	   width: 200px;
	   border: 1px solid #606060;
	   background: none;
	   font-size: 18px;
	}
}

.projects-link:hover {
	// background: #606060;
	background: linear-gradient($headerColor1, $headerColor2);
	color: white;

}

.app-description {
	font-size: 20px;
	width: 50%;
	margin: 0 auto;
	margin-bottom: 80px;
	line-height: 30px;
}

// Contact

footer {
	background: linear-gradient($headerColor1, $headerColor2);
	// background: #f8f8f8; 
	padding-top: 50px;
	padding-bottom: 50px;
}

.contact-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.active-link {
	text-decoration: none;
	color: #606060;
	padding: 10px;
}

.active-link:hover {
	text-decoration: underline;
}

h2.contact-envelope-emoji {
	font-size: 40px;
	text-align: center;
}

.contact-envelope-emoji {
	margin-top: 0;
}

.fa-twitter-square {
	padding: 10px;
}

.contact-email {
	text-align: center;
}

.email {
	text-decoration: none;
	border: none;
}

.contact-button {
	width: 300px;
	background: white;
}

.get-in-touch{
	text-align: center;
	// color: white;
}

a.email {
	color: #606060; 
	font-size: 18px;
}

a.email:hover {
	text-decoration: underline;
}

.active-link {
	text-align: center;
}

.footer-contact-icons {
	margin: 0 auto;
	padding: 10px;
}

