/// Colour palette
$headerGradient: linear-gradient(to top, deepskyblue 100%, violet 0%);
$accentColor: darkslategray;
$headerColor1: lighten(violet, 20%);
$headerColor2: lighten(turquoise, 10%);
$bodyFont: 'Ubuntu', sans-serif;




