/// Colour palette
$headerGradient: linear-gradient(to top, deepskyblue 100%, violet 0%);
$accentColor: darkslategray;
// $headerColor1: lighten(violet, 80%);
// $headerColor2: lighten(turquoise 80%);
$bodyFont: 'Ubuntu', sans-serif;




